

.table-container {
    font-family: Arial, sans-serif;
    width: 80%;
    margin-bottom: 20px;
  }
  .table-actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .search-input{
    padding: 8px;
    border: 1px solid #ccc;
    width: 400px;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  }

  .btns {
    display: flex;
    gap: 20px;
  }

  .btn-add {
    background-color: #0c899a;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
.btn-add:hover{
background-color: #07cef1;
}
.btn-add:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-edit {
  background-color: burlywood;
  color: #fff;
  padding: 8px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-edit:hover {
  background-color: gold;
}
.btn-edit:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}
  .btn-delete {
    background-color: brown;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
  }
  .btn-delete:enabled:hover{
    background-color: crimson;
  }
  .btn-delete:disabled{
    background-color: #ccc;
    cursor: not-allowed;
  }

  .btn-cancel{
    background-color: #333;
    color: #ccc;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-cancel:hover{
    background-color: #230b0b;
  }

  
  .data-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .data-table th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
  }
  
  .data-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .data-table tbody tr:hover {
    background-color: #e9f5ff;
  }
  
  .data-table .selected {
    background-color: #0cdffb;
     
  }
  
 