.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
   }


.login-page{
    background: #0a4375;
    width: 25%;
    height: 65%;
    border-radius: 1%; 
    display: flex;
    justify-content: center;
    align-items: center;


}


.form-group{

    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.paragraph {
    color: aliceblue;
}

.input-field {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    text-align:start;
    font-size: 16px;
}
.input-field::placeholder {
color: rgb(131, 129, 133);
}


.btn {
margin-top: 30px;
width: 40%;
padding: 10px;
border-radius: 5px;
font-size: 16px;
}

.btn:hover {
    background: #0b0639;
    color: aliceblue;
}
.anchor {
    color: aliceblue;
}
.anchor:hover {
color: bisque;
}
.error-message{
    color: rgba(239, 26, 11, 0.735);
}
