.container {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 110vh;
}

/* .container {
  display: grid;
  place-items: center;
  height: 100vh;

} */

/* .container{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50);
} */